@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

:root {
  --primary-color: #343a40;
  --secondary-color: #495057;
  --highlight-color: #ffc107;
  --accent-color: #ffffff;
  --text-color: #343a40;
  --hover-bg-color: #f1f1f1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--accent-color);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  font-size: x-large;
  /* margin: 0 20px; */
  font-family: "Playwrite IT Moderna", cursive;
}  

.navbar ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  font-weight: bold;
  padding: 10px;
  height: 40px;
  position: relative;
  overflow: hidden;
  background: var(--accent-color);
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.navbar ul li a {
  width: 100%;
  /* padding: auto; */
  height: 100%;
  color: inherit;
}

.navbar ul li::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--highlight-color);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.navbar ul li:hover::before {
  width: 105%;
}

.navbar ul li:hover {
  color: var(--text-color);
  background-color: var(--hover-bg-color);
}

.nav-active {
  border-bottom: 4px solid var(--highlight-color);
  transition: 0.5s ease;
  color: var(--text-color);
  background-color: var(--hover-bg-color);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo h1 {
  color: var(--primary-color);
  animation: logoAnimation 3s cubic-bezier(0.075, 0.82, 0.165, 1) alternate infinite;
  font-family: "Playwrite IT Moderna", cursive;
}

@keyframes logoAnimation {
  0% {
    transform: translateY(-200px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0) rotate(7deg);
  }
  100% {
    transform: translateY(0) rotate(-5deg);
  }
}

.nav-login-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.nav-login-card img {
  cursor: pointer;
}

.nav-login-card .nav-cart-count {
  position: absolute;
  top: -10px;
  right: -15px;
  background-color: var(--highlight-color);
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1.25rem;
  background-color: var(--primary-color);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.closeMenu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 5px;
  opacity: 0.7;
  cursor: pointer;
  display: none;
  animation: toggleAbsolute 1s ease-in-out alternate infinite;
}

@keyframes toggleAbsolute {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}

.closeMenu i {
  font-size: 60px;
}

.closeMenu:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.5s;
}

.menuContainer {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  font-weight: 500;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 20px;
  display: none;
}

.menuContainer:hover {
  cursor: pointer;
  background-color: var(--highlight-color);
  transition: all 0.5s;
}

.menuLogo {
  width: 34px;
  filter: brightness(0) invert(1);
}

.query-login {
  display: none !important;
}

@media screen and (max-width: 1280px) {
  .navbar {
    height: 70px;
    padding: 5px 10px;
  }
  .navbar ul {
    gap: 30px;
  }
  .navbar ul li {
    font-size: 14px;
    width: 80px;
    height: 33px;
    padding: 3px 9px;
  }
  .nav-logo img {
    width: 50px;
  }
  .nav-logo h1 {
    font-size: 24px;
  }
  .button {
    width: 115px;
    font-size: 14px;
  }
  .icon {
    width: 30px !important;
  }
  .nav-login-card img {
    width: 35px;
  }
  .nav-login-card .nav-cart-count {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 800px) {
  .menuContainer {
    display: flex;
  }
  .closeMenu {
    display: block;
  }
  .navbar ul {
    flex-direction: column;
    position: fixed;
    bottom: 0;
    height: 70vh;
    gap: 15px;
    width: 100%;
    background: linear-gradient(180deg, rgba(251, 251, 252, 1), rgba(253, 253, 253, 0.781));
    align-items: center;
    justify-content: center;
    padding: 50px 5px;
    box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.1);
  }
  .nav-logo img {
    width: 40px;
  }
  .nav-logo h1 {
    font-size: 20px;
  }
  .navbar ul li {
    width: 100vw;
    font-size: 24px;
    background: none;
    text-align: center;
    justify-content: center;
    height: auto;
    padding: 10px;
    border-radius: 0;
    padding-left: 30px;
    color: var(--text-color);
    letter-spacing: 2px;
  }
  .menuContainer {
    font-size: 16px;
  }
  .menuContainer img {
    width: 24px;
  }
  .button {
    display: none;
  }
  .query-login button {
    display: flex;
    width: 300px;
  }
  .query-login {
    display: flex !important;
    width: 100vw;
    font-size: 24px;
  }
  .navbar ul li::before {
    content: '';
    width: 0;
    height: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: none;
    background-color: var(--primary-color);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }
  .navbar ul li:nth-child(5)::before {
    content: '';
    width: 0;
    height: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: none;
    background-color: none;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }
  .navbar ul li a {
    padding-left: 100% !important;
    padding-right: 100% !important;
  }
  .navbar ul li:hover {
    color: var(--text-color);
  }
  .nav-menu {
    opacity: 0;
    transform: translateY(700px);
    z-index: -999;
  }
  .show {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    z-index: 999;
  }
  .closeMenu {
    display: block;
    z-index: -999;
  }
}

@media screen and (max-width: 600px) {
  .menuContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 11rem;
    right: 1rem;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.1);
  }
  .menuContainer span {
    display: none;
  }
}
