.offers {
  background: linear-gradient(180deg, #b1b13965, #ecf0f1);
  width: 80%;
  margin: 5rem auto 2rem;
  height: 50vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 20px solid black;
  border-width: 20px 80px;
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.offers img {
  width: 300px;
  position: absolute;
  bottom: -50px;
  filter: contrast(150%);
}

.animate {
  animation: offersAnimation 2s linear alternate;
}

.offers-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  z-index: 2;
}

.offers-left span:first-child {
  color: var(--aksesuar-renk);
  font-size: 40px;
  font-weight: 900;
}

.offers-left span:nth-child(2) {
  color: var(--ana-renk);
  font-size: 60px;
  font-weight: 900;
  animation: logoAnimation 3s cubic-bezier(0.075, 0.82, 0.165, 1) alternate infinite;
}

.offers-left span:nth-child(3) {
  color: var(--aksesuar-renk);
  font-size: 20px;
}

.offers-left button {
  margin-top: 1rem;
  background-color: var(--ana-renk);
  color: var(--birincil-yardimci-renk);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.offers-left button:hover {
  background-color: var(--aksesuar-renk);
  transition: all 0.3s ease-in-out;
}

@keyframes logoAnimation {
  0% {
      transform: translateY(-200px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes offersAnimation {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .offers {
      width: 100%;
      text-align: center;
  }
  .offers img {
      left: 5rem;
  }
}

@media screen and (max-width: 800px) {
  .offers {
      margin-top: 0;
  }
  .offers img {
      left: 1rem;
      z-index: -1;
  }
  .offers-left span {
      margin-left: 3rem;
      text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .offers {
      width: 100%;
      border: none;
      height: max-content;
  }
  .offers img {
      left: 0;
  }
  .offers-left span {
      margin-left: 0;
      font-size: 40px;
  }
  .offers-left span:nth-child(2) {
      font-size: 40px;
  }
  .offers-left span:nth-child(3) {
      font-size: 20px;
      color: black;
  }
  .animate {
      animation: offersAnimation 4s linear alternate infinite;
  }
}
